*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
td{
  padding: 10px;
}
.stock-data{
  display: none;
}
.show{
  display: block;
}
.profit{
  background-color: green;
}
.loss{
  background-color: red;
}